* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Almarai", sans-serif;
    direction: rtl;
}
.body-login {
    direction: ltr !important;
}
/*============================================= Start auth pages  ==============================================*/

/* Start login page */
.section-login {
    direction: ltr;
}
.img-leftSide img {
    width: 100%;
    height: 100vh;
}
.desc-text {
    bottom: 0;
    right: 0;
    margin-right: 40px;
}
.desc-text p {
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
}
.right-side {
    text-align: right;
    direction: rtl;
    margin-top: 80px;
}
.right-side h3 {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 32px;
    font-weight: 700;
    color: #b31d4d;
}
.right-side .form-group input {
    width: 52%;
    height: 50px;
    margin: 0 0 20px 0;
    border: 1px solid #676767;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    padding-right: 30px;
}
.forget-password {
    font-size: 20px;
    font-weight: 700;
    color: #e80808;
    margin-bottom: 70px;
    text-decoration: none !important;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.forget-password:hover {
    color: #cc1d1d;
}
.fixed-style-btn {
    display: block;
    width: 52%;
    height: 50px;
    background-color: #81a349;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none !important;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff !important;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    margin-bottom: 75px;
}
.fixed-style-btn:hover {
    background-color: #769249;
}
.dt-acc {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}
.create-acc {
    font-size: 23px;
    font-weight: 700;
    color: #b31d4d !important;
    padding-right: 20px;
    text-decoration: none !important;
}
/* end login page */

/* Start acc-success */
.acc-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.acc-success img {
    width: 13%;
}
.acc-success h3 {
    font-size: 51px;
    font-weight: 700;
    color: #84be44;
    margin: 50px 0;
}
.acc-success p {
    font-size: 40px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
}
.acc-success span {
    color: #84be44;
}

/* Start acc-success */

/* Start navbar */

.navbar-bg-white {
    box-shadow: -3px -9px 20px #000;
    padding: 15px 55px;
}

.navbar-bg-white .navbar-brand {
    width: 10% !important;
}

.navbar .logo {
    width: 43%;
}

.link-home {
    font-size: 27px;
    font-weight: 700;
    color: #b31d4d !important;
    text-decoration: none !important;
    margin-right: 0;
    margin-left: 40px;
}

.search {
    position: relative;
    width: 50%;
}

.search input {
    width: 100%;
    height: 58px;
    border: 1px solid #b1b1b1;
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
    outline: none;
    padding-right: 30px;
    font-size: 23px;
    font-weight: 400;
    color: #b31d4d;
    padding-left: 45px;
}

.search input::placeholder {
    font-size: 23px;
    font-weight: 400;
    color: #b1b1b1;
}

.search-icon {
    position: absolute;
    top: 19px;
    left: 30px;
}

.navbar-bg-white .nav-item {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
}
.navbar-bg-white .nav-item:first-of-type {
    margin-right: 50px;
}

.notifications .dropdown-toggle::after,
.favorite .dropdown-toggle::after {
    display: none !important;
}

.notifications,
.favorite {
    padding: 0;
}

.navbar .dropdown-menu {
    width: 320px;
    max-height: 270px;
    overflow: auto;
    background: #b31d4d;
    margin-top: 30px;
    text-align: right;
}

.navbar .dropdown-menu a {
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
    height: 45px;
    padding-top: 3px;
    margin-bottom: 10px;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #860d34;
}
.profile-name a.nav-link {
    font-size: 24px;
    color: #b31d4d;
    font-weight: 700;
}

/* End navbar */
/* Start register-1 page */
.create-acc-vendor .form-group input,
.form-upload input,
.add-product .form-group input {
    width: 98%;
    height: 55px;
    padding-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    font-size: 25px;
    font-weight: 400;
    color: #a8a8a8;
    margin-left: 5px;
}
.create-acc-vendor h2 {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 50px;
}
.form-upload input {
    width: 81%;
    border-radius: 0 16px 16px 0;
    -webkit-border-radius: 0 16px 16px 0;
    -moz-border-radius: 0 16px 16px 0;
    -ms-border-radius: 0 16px 16px 0;
    -o-border-radius: 0 16px 16px 0;
}
.image-upload {
    background: #81a349;
    margin-right: -8px;
    border-radius: 16px 0 0 16px;
    color: #fff;
    height: 55px;
    width: 17%;
    border: 1px solid #81a349;
}
/* Start register-1 page */

/* Start aside */

aside {
    background: #fff;
    box-shadow: 1px 7px 15px 1px #ddd;
    height: 100vh;
}

.link-sub-nav {
    display: block;
    height: 90px;
    padding-right: 30px;
    padding-top: 21px;
    text-decoration: none !important;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    opacity: 0.5;
}

.link-sub-nav:hover,
.sidebar .active {
    box-shadow: 0 3px 11px -4px #000;
    border-radius: 6px;
    background-color: #fff;
    opacity: 1;
}

.sub-nav img {
    padding-left: 20px;
}

.sub-nav {
    text-decoration: none;
    font-size: 26px;
    font-weight: 700;
    color: #000000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.link-sub-nav:hover .sub-nav,
.active .sub-nav {
    color: #000;
}

.social-form-register a {
    width: 120px;
    height: 48px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
}

.social-form-register a i {
    font-size: 25px;
}

/* End aside */

/* Start footer */
footer {
    background-color: #f0dfe4;
    padding: 80px 0;
}
.title-footer {
    color: #000000;
    font-size: 24px;
    font-weight: 700;
}
.list-footer {
    list-style: none;
    padding: 0;
}
.list-footer li:first-of-type {
    margin-top: 40px;
}
.list-footer li a {
    font-size: 20px;
    font-weight: 400;
    color: #7b7b7b;
    text-decoration: none !important;
    margin-bottom: 28px;
    display: block;
}
/* End footer */

/* ======================================= Start pages vendor ============================================= */

/* Start add product */
.add-product .form-upload input {
    width: 40%;
    margin-left: 30px;
    border-radius: 16px;
}
.add-product .image-upload {
    border-radius: 16px;
    width: 10%;
}
.add-product .form-group input {
    width: 52%;
}
/* End add product */

/* Start store data */
.store-data .form-group {
    position: relative;
}
.store-data .edit-data {
    position: absolute;
    top: 3px;
    left: 26px;
    outline: none !important;
    font-size: 21px;
    font-weight: 400;
    color: #81a349;
}
/* edit store data */

/* Start product page */
.search-products {
    overflow: hidden;
    margin-top: 110px;
    margin-bottom: 50px;
}
.search-products .form-group {
    float: left;
}
.btn-add-product {
    background-color: #81a349;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff !important;
    padding: 10px 20px;
}
.categories {
    background: #fff;
    border-radius: 5px;
    text-align: right;
    height: 51px;
    width: 180px;
    cursor: pointer;
    border: 1px solid #ddd;
    box-shadow: 0px -1px 12px -3px #000;
}
.container-image-product {
    position: relative;
    margin-bottom: 20px;
}

.container-image-product img {
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.icon-edit {
    position: absolute;
    top: 5px;
    right: 7px;
}
.icon-edit i {
    background: #ffffff;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding-top: 11px;
    cursor: pointer;
}
.discount {
    position: absolute;
    top: 10px;
    left: 7px;
}
.discount span {
    background-color: #81a349;
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    width: 50px;
    text-align: center;
    height: auto;
    max-width: 70px;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.name-product span {
    font-size: 19px;
    font-weight: 400;
    color: #000000;
}
.price-product span {
    font-size: 23px;
    font-weight: 400;
    color: #B31D4D;
    text-align: left;
    display: block;
    margin-top: -5px;
}
.description-product p {
    font-size: 18px;
    font-weight: 400;
    color: #B1B1B1;
    margin-top: 17px;
}
/* End product page */
