* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Almarai', sans-serif;
    direction: rtl;
}
.body-login {
    direction: ltr !important;
}
/*============================================= Start auth pages  ==============================================*/

/* Start login page */
.section-login {
    direction: ltr;
}
.img-leftSide img {
    width: 100%;
    height: 100vh;
}
.desc-text {
    bottom: 0;
    right: 0;
    margin-right: 40px;
}
.desc-text p {
    font-size: 60px;
    color: #FFFFFF;
    font-weight: 700;
}
.right-side  {
    text-align: right;
    direction: rtl;
    margin-top: 80px;
}
.right-side h3 {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 32px;
    font-weight: 700;
    color: #B31D4D;
}
.right-side .form-group input {
    width: 52%;
    height: 50px;
    margin: 0 0 20px 0;
    border: 1px solid #676767;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    padding-right: 30px;
}
.forget-password {
    font-size: 20px;
    font-weight: 700;
    color: #E80808;
    margin-bottom: 70px;
    text-decoration: none !important;
    display: inline-block;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.forget-password:hover {
    color: #cc1d1d;
}
.fixed-style-btn {
    display: block;
    width: 52%;
    height: 50px;
    background-color: #81A349;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none !important;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF !important;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    margin-bottom: 75px;
}
.fixed-style-btn:hover{
    background-color: #769249;
}
.dt-acc {
    font-size: 20px;
    color: #000;
    font-weight: 700;
}
.create-acc {
    font-size: 23px;
    font-weight: 700;
    color: #B31D4D !important;
    padding-right: 20px;
    text-decoration: none !important;
}
/* end login page */


/* Start acc-success */
.acc-success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.acc-success img {
    width: 13%;
}
.acc-success h3 {
    font-size: 51px;
    font-weight: 700;
    color: #84BE44;
    margin: 50px 0;
}
.acc-success p {
    font-size: 40px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
}
.acc-success span {
    color: #84BE44;
}

/* Start acc-success */




/* Start navbar */

.navbar-bg-white {
    box-shadow: -3px -9px 20px #000;
    padding: 15px 55px;
}

.navbar-bg-white .navbar-brand {
    width: 10% !important;
}

.navbar .logo {
    width: 43%;
}

.link-home {
    font-size: 27px;
    font-weight: 700;
    color: #B31D4D !important;
    text-decoration: none !important;
    margin-right: 0;
    margin-left: 40px;
}

.search {
    position: relative;
    width: 50%;
}


.search input {
    width: 100%;
    height: 58px;
    border: 1px solid #B1B1B1;
    border-radius: 29px;
    -webkit-border-radius: 29px;
    -moz-border-radius: 29px;
    -ms-border-radius: 29px;
    -o-border-radius: 29px;
    outline: none;
    padding-right: 30px;
    font-size: 23px;
    font-weight: 400;
    color: #B31D4D;
    padding-left: 45px;
}

.search input::placeholder {
    font-size: 23px;
    font-weight: 400;
    color: #B1B1B1;
}

.search-icon {
    position: absolute;
    top: 19px;
    left: 30px;
}

.navbar-bg-white .nav-item {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 50px;
}

.notifications .dropdown-toggle::after,
.favorite .dropdown-toggle::after {
    display: none !important;
}

.notifications,
.favorite {
    padding: 0;
}

.navbar .dropdown-menu{
    width: 320px;
    max-height: 270px;
    overflow: auto;
    background: #B31D4D;
    margin-top: 30px;
    text-align: right;
}

.navbar .dropdown-menu a {
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
    height: 45px;
    padding-top: 3px;
    margin-bottom: 10px;
}
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #860d34;
}
.profile-name a.nav-link {
    font-size: 24px;
    color: #B31D4D;
    font-weight: 700;
}

/* End navbar */
/* Start register-1 page */
.create-acc-vendor .form-group input,
.form-upload input {
    width: 98%;
    height: 55px;
    padding-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    outline: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    font-size: 25px;
    font-weight: 400;
    color: #A8A8A8;
    margin-left: 5px;
}
.create-acc-vendor h2 {
    font-size: 32px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 50px;
}
.form-upload input {
    width: 81%;
    border-radius: 0 16px 16px 0;
    -webkit-border-radius: 0 16px 16px 0;
    -moz-border-radius: 0 16px 16px 0;
    -ms-border-radius: 0 16px 16px 0;
    -o-border-radius: 0 16px 16px 0;
}
.image-upload {
    background: #81A349;
    margin-right: -8px;
    border-radius: 16px 0 0 16px;
    color: #fff;
    height: 55px;
    width: 17%;
    border: 1px solid #81A349;
}
/* Start register-1 page */
